<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		<a class="btn mb-3 btn-primary" th:href="@{/employees/showFormForAdd}" role="button">Add Employee</a>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">FirstName</th>
					<th scope="col">LastName</th>
					<th scope="col">Email</th>
					<th scope="col">Age</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list:${employee_list}">
					<td th:text="${list.id}">id</td>
					<td th:text="${list.firstName}">firstName</td>
					<td th:text="${list.lastName}">lastName</td>
					<td th:text="${list.email}">email</td>
					<td th:text="${list.age}">age</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>